<div class="container">

  <div class="add-new-user">
    <button class="btn btn-info add-user-btn" (click)="openUserModal()">Add new user</button>
  </div>

  <table class="table align-middle">
    <thead class="bg-light">
      <tr>
        <th *ngFor="let x of displayedColumns">{{x}}</th>
      </tr>
    </thead>

    <tbody>
    <tr *ngFor="let user of dataSource">
      <td>{{ user._id }}</td>
      <td>{{ user.name }}</td>
      <td>{{ user.email }}</td>
      <td>{{ user.age }}</td>
      <td>{{ user.phoneNumber }}</td>
      <td>
        <button class="btn btn-info">Update</button>
      </td>
      <td>
        <button class="btn btn-danger" (click)="deleteUser(user._id? user._id : '')">Delete</button>
      </td>
    </tr>
    </tbody>
  </table>

</div>
