<form (ngSubmit)="addUser(newUser)">
<div class="modal-header">
  <h5 class="modal-title" id="exampleModalLabel">Add new user</h5>
  <button
    type="button"
    class="btn-close"
    aria-label="Close"
    (click)="modalRef.close()"
  ></button>
</div>
<div class="modal-body">
    <div class="form-group">
      <label for="nameInput">Name</label>
      <input type="text" [(ngModel)]="newUser.name" name="name" class="form-control" id="nameInput" placeholder="Andrei Ionescu">
    </div>

  <div class="form-group">
    <label for="emailInput">Email address</label>
    <input type="email" [(ngModel)]="newUser.email" name="email" class="form-control" id="emailInput" placeholder="name@email.com">
  </div>

  <div class="form-group">
    <label for="ageInput">Age</label>
    <input type="number" [(ngModel)]="newUser.age" name="age" class="form-control" id="ageInput" placeholder="20">
  </div>

  <div class="form-group">
    <label for="phoneInput">Phone number</label>
    <input type="text" [(ngModel)]="newUser.phoneNumber" min="14" name="phoneNumber" class="form-control" id="phoneInput" placeholder="0766666666">
  </div>

</div>
<div class="modal-footer">
  <button type="button" class="btn btn-secondary" (click)="modalRef.close()">
    Close
  </button>
  <button type="submit" class="btn btn-primary">Save changes</button>
</div>
</form>
